@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Space+Mono&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

html, 
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}

.text-border-white {
  text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

/* CARD 3D EFFECT HOVER */
.profile-card {
  box-sizing: border-box;
  position: relative;
}
.profile-card__wrapper {
  perspective: 600px;
  position: absolute;
  inset: 0;
}
.profile-card__3d {
  transform: rotateY(var(--r-x)) rotateX(var(--r-y));
  position: absolute;
  inset: 0;
}

.shadow-effect {
  position: relative;
}
.shadow-effect:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: height 1.2s;
  width: 28px;
  height: 0px;
  background: #fff;
  /*   transform: translateZ(-300px); */
  transform: rotateX(55deg) translateZ(-35px);
  border-radius: 50%;
  filter: blur(12px);
  box-shadow: 0 0 1px rgba(255,255,255,0.8);
}
.shadow-effect:hover:before {
  height: 15px;
}

.shadow-effect svg {
  transform: none;
  transition: transform 1s;
}
.shadow-effect svg:hover {
  transform: rotateX(35deg) translateZ(20px)
    scale(1.2);
}